.header{
    width: 600px;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    padding-bottom: 3%;
}

.debate{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.debatePost{
padding: 2;
border-radius: 3px;
margin-bottom: 5px;
margin: 2;
border-style: double;
font-size: 150%;
background-color: rgba(255, 255, 255, 0.08);
}

.content{
    width:600px;
    display:flex;
    flex-direction: column;
    border: white;
}